.button {
  background-color: #ffcc80;
  border-radius: 0.3rem;
  border-width: 0;
  color: #212121;
  cursor: pointer;
  display: inline-block;
  font-family: 'Gujrati-Medium', sans-serif;
  font-size: 0.9rem;
  list-style: none;
  margin: 0.5rem 0;
  padding: 0.5rem 0.6rem;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:hover {
    background-color: #ffb74d;
  }

  &.text {
    background-color: transparent;
    color: #212121;

    &:hover {
      background-color: #f9f9f9;
      color: #fb8c00;
    }
  }
}
